<div class="works">
    <h3>works</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus hic quidem optio, odio saepe doloribus, minima nobis possimus mollitia, quam expedita eum voluptatibus voluptatum? A eum excepturi ipsum animi accusamus.
    Beatae nam tenetur ex dolorum consequatur laborum accusamus dolor ad harum sint facere, accusantium omnis eius illo aspernatur pariatur impedit non cum soluta animi dicta. Ipsa quis ea eaque! Cum!
    Beatae voluptate facilis ea excepturi ullam possimus blanditiis dolores error odit dolor atque eos sequi quasi, sunt eum! Neque vero iure sed fugit harum quam, aliquid eaque amet eligendi eius?
    </p>
</div>